<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>About Us</title>
    </head>
<body>
    <span id="collapse"><i class="fas fa-align-justify" id="icon-toggle"></i></span>
    <section id="header">
        <ul>
            <a href="/"><li><i class="fas fa-home"></i>  Home</li></a>
            <a href="/login"><li><i class="fas fa-user-shield"></i> Login</li></a>
            <a href="/signup"><li><i class="fas fa-user-plus"></i> Register</li></a>
            <a href="/about"><li><i class="fas fa-mug-hot"></i></i> About Us</li></a>
        </ul>
    </section>
    <section>
        <div class="heading"><h2>Our Team</h2></div>
        <div class="block3">
           <div class="img-cont"><img src="../public/images/gagan.png" alt="" style="height: 30vh;"><br><span>Gagandeep Singh</span></div>
           <div class="img-cont"><img src="../public/images/elvis.png" alt="" style="height: 30vh;"><br><span>Elvis Sethi</span></div>
           <div class="img-cont"><img src="../public/images/Anshul.png" alt="" style="height: 30vh;"><br><span>Anshul Jain</span></div>
           <div class="img-cont"><img src="../public/images/ritik.png" alt="" style="height: 30vh;"><br><span>Ritik Kumar</span></div>
        </div>
        <div class="block">
            <div class="left">
                <p>Our team started working on this project because of a realisation we had while discussing about the medical industry of today and thinking how our breath is so easy to obtain but it was never really explored for the further development in diagnosis of different airborne diseases.</p>    
            </div>
            <div class="right">
                <img src="https://leveeance.com/img/sections/bg/about%20us.png" alt="">
            </div>
        </div>

        <div class="block1">
            <div class="left">
                <img src="https://www.milkywayinfotech.in/public/front/img/services/graphic-design-1.jpg" alt="">
            </div>
            <div class="right">
                <p>Most of the tests that are done for medical purposes today are invasive, which are neither easy to do but also have many time and physical constraints. The development of a Non-Invasive technique in the detection of various diseases would make the process very convenient. </p>    
            </div>
        </div>
        <div class="block">
            <div class="left">
                <p>While deep diving on this idea we noticed that we could use some particular principal VOC’s in our breath along with previous data present on breath concentration of people to correlate them and classify them to check for different airborne diseases like TB with respectable accuracy and here is the our model representing our work.</p>    
            </div>
            <div class="right">
                <img src="https://www.servicechampions.net/wp-content/uploads/2017/06/Volatile-Organic-Compounds-VOC-Service-Champions-1.jpg" alt="">
            </div>
        </div>

        <div class="block1" style="margin-bottom: 10%;">
            <div class="left">
                <img src="https://www.forbesindia.com/media/images/2020/Jul/img_138113_careerinhealthcare.jpg" alt="">
            </div>
            <div class="right">
                <p>Going forward we want to work on extracting as much information from our breath to make medical diagnosis of some diseases as convenient as possible</p>    
            </div>
        </div>
    </section>
    <section id="footer">
        Copyright @ 2021-2022 Students of T.I.E.T
    </section>
    <script src="../js/login.js"></script>
</body>
</html>