<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Home</title>
    </head>
<body>
    <span id="collapse"><i class="fas fa-align-justify" id="icon-toggle"></i></span>
    <section id="header">
        <ul>
            <a href="/"><li><i class="fas fa-home"></i>  Home</li></a>
            <a href="/login"><li><i class="fas fa-user-shield"></i> Login</li></a>
            <a href="/signup"><li><i class="fas fa-user-plus"></i> Register</li></a>
            <a href="/about"><li><i class="fas fa-mug-hot"></i></i> About Us</li></a>
        </ul>
    </section>
    <section>
        <div class="block">
            <div class="left">
                <p>Our team realized that one of the most easy to capture entities of a human being is a breath, but unfortunately, very little research is done on this part. So, we decided to work on it and after surveying literature and getting in contact with some of the fellow researchers who are also working in this field, we formalized working on this problem and thought of applying machine learning and statistical techniques to identify the patterns in the breath of the person and classify him as healthy or unhealthy. </p>
            </div>
            <div class="right">
                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/27591a103052883.5f6e4494af7b0.png" alt="">
            </div>
        </div>

        <div class="block1">
            <div class="left">
                <img src="https://files.realpython.com/media/TUT19---Functional-Programming_Watermarked.3bb16c6198a2.jpg" alt="">
            </div>
            <div class="right">
                <p>This portal asks for the values of most significant Volatile Organic Compounds, or the potential biomarkers in the breath of the person and classifies him as healthy or unhealthy. But, the dashboard is more than just a machine learning model. It stores the results of all the predictions and visualise the variations in the values of the biomarkers as well as the variations in the results of the prediction and helps in understanding about the health and the over-well being of the person.</p>
            </div>
        </div>

        <div class="block" style="margin-bottom: 10%;">
            <div class="left">
                <p>The person now does not need to carry manual reports to the doctors and can show the records directly from the dashboard to the person. It can also be used by less-experienced doctors and technicians to get assistance in the diagnosis of the person. Thus, this dashboard can act as an assistive system as well.</p>
            </div>
            <div class="right">
                <img src="https://www.nwc.design/wp-content/uploads/2018/06/expand-reach-of-research-reports.png" alt="">
            </div>
        </div>
    </section>
    <section id="footer">
        Copyright @ 2021-2022 Students of T.I.E.T
    </section>

    <script src="../js/login.js"></script>
</body>
</html>